@model Room

@{
    ViewData["Title"] = "Sukces";

        <div class="alert alert-success" role="alert">
            Twoja rezerwacja przebiegła pomyślnie!
        </div>
        <a style="text-decoration:none; font-size:20px; font-weight:bold;" asp-controller="Room" asp-action="Index">Powrót na strone główną</a>
}
